@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



.containerBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;

}

.containerImgLog{
	width: 60vw;
	height: 60vh;
  box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
  display: flex;
  opacity: 0.8;
  border: 2px solid #00ffd8;
}

.img{
  width: 30vw;
  background-color: rgb(0, 0, 0);
}

.containerLog{
  width: 30vw;
  background-color: rgb(0, 0, 0);
  font-family: 'Audiowide', cursive;  
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;

}

/*  INPUT DO LOGIN */

.Containerinput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input{
  width: 20vw;
  height: 4vh;
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  border: none;
  margin-bottom: 1vh;
  padding-left: 1vw;
  margin-top: 2vh;
}

input:focus {
  outline: none !important;
  border:1px solid rgb(181, 181, 181);
  box-shadow: 0 0 10px #929292;
}

p, h2{margin-top: 5vh;}
h2 {margin-bottom: 6vh;}
button{
  background-color: #51ff0d;
  border: none;
  cursor: pointer;
}
button:hover{
  box-shadow: 0 0 10px #929292;
  background-color: #a9009e;
}

img{
  width: 30vw;
  height: 60vh;
}

