img{
  width: 375px;
  height: 375px;
  object-position: center;
  align-self: center;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0 10px solid white 0;

}

.containerInicial{
  background-color: rgb(35, 50, 78);
  height: 80vh;
  border-radius: 2rem;
}

.ContainerPerfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 60vh;
}

.containerBotao{
  margin: 4rem 4rem;
  display: flex;
  justify-content: space-between;
}

button{cursor:pointer}

h2, h3{color: white; margin: 1rem 0 0 1rem}
.carregando{color: white; margin: 2rem;}