body{
    margin: 0;
    background: #ffffe0;
    display: inline;
}
.container-bar{
    background: #EDC9FF;
    overflow: hidden;
}

.container-bar .recheiaivos-menu{
    text-align: center;
}

.container-bar a{
    float: left;
    color: D8CC34;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.container-bar a:hover{
    background-color: darkblue;
    color: #EDC9FF ;
}

.container-bar a.home{
    background-color: #FED4E7 ;
    color: #F2B79F;
}

.recheiaivos-menu{
    padding: 10px;
    font-size: 1rem;
    color: #FFFCE6;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

h2{
    text-align: center;
    margin-top: 4rem;
}

table{
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 50%;
    margin-top: 1rem;
    margin-left: 25%;
    margin-bottom: 5rem;
}

th{
    background-color: #EDC9FF;
}

td, th{
    border: 2px solid rgb(111, 67, 133);;
    text-align: center;
}

.background-descricao{
    background-color: #FED4E7;
}




footer{
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    position: absolute;
}

tr img{
    width: 100%;
    height: auto;
}

img{
    width: 1%;
    height: auto;
}