body{
    background-image:url(img/imagens/candy.jpg);
    width:100%;
    height:auto;
   }


body{
    margin: 0;
    display: inline;
}
.container-bar{
    background: #EDC9FF;
    overflow: hidden;
}

.container-bar .recheiaivos-menu{
    text-align: center;
}

.container-bar a{
    float: left;
    color: D8CC34;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.container-bar a:hover{
    background-color: darkblue;
    color: #EDC9FF ;
}

.container-bar a.home{
    background-color: #FED4E7 ;
    color: #F2B79F;
}

.recheiaivos-menu{
    padding: 10px;
    font-size: 1rem;
    color: #FFFCE6;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.container-mae{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 5%;

}


.container-filho{
    margin-top: 3rem;
    width: 50%;
    height: auto;
    border-radius: 2rem;
    background-color: rgba(10,23,55,0.5);    margin: 0 auto;
    padding: 4rem;

}


form{
    margin: 1rem;
    font-size: 24px;
    color: white;
}


#buttom{
    margin-top: 2rem;
    width: 12rem;
    background: rgb(21, 21, 29);
    color: white;
}

#buttom:hover{
    background: tomato;
}


input{
    border-radius: 1rem;
    width: 20rem;
    height: 2rem;
    border: none;
}


select{
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
    border: none;
}

img{
    width: 1%;
    height: auto;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    position: absolute;
    bottom: 0;
}