*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #313131;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
}

.icone-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 15px;
    padding-left: 18px;
}

.logo-labetube{width: 40px;}

.input-search{
    display: flex;
    width: 500px;
    height: 28px;
    font-size: 15px;
    padding-left: 8px;
    background-color: #000000;
    border: solid 0.5px #373737;
}

.container-input{display: flex;}

.input-search-icone{
    width: 32px;
    height: 27px;
    padding: 1px;
    padding-top: 4px;
    background-color: #373737;
}


.icones{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-right: 16px;
}

.icones img{
    width: 32px;
    margin: 0 16px;
}

img:hover{cursor: pointer;}